<!--
Blue Bus Card
Currently maintained by Kevin

All code shamelessly reverse engineered from Casey Falks'
code found in the "SEPTA.html" file.

Goals:
Milestone 1: Be able to scrape data from the Blue Bus
	Schedule and offer trip plans for Haverford-Bryn Mawr

Milestone 2: Be able to scrape data from the TriCo Van
	Schedule and be able to offer trip plans for the TriCo.

Milestone 3: Enhanced support for special service flags on
	the schedule (*) (V) etc.

Milestone 4: Enabling "least amount of time including
transfer from bus to van"

-->

<div class="cardTitle">Next Blue Bus</div>
<div id="blueBusLocationContainer">
Busing the Blues...
</div>

<div id="blueBusTimesContainer">
</div>


<script src="{{STATIC_URL}}js/cards/bluebus.js"></script>
