<!--
Blue Bus Card
Currently maintained by Kevin

All code shamelessly reverse engineered from Casey Falks'
code found in the "SEPTA.html" file. 

Goals: 
Milestone 1: Be able to scrape data from the Blue Bus
	Schedule and offer trip plans for Haverford-Bryn Mawr

Milestone 2: Be able to scrape data from the TriCo Van
	Schedule and be able to offer trip plans for the TriCo. 

Milestone 3: Enhanced support for special service flags on
	the schedule (*) (V) etc. 

Milestone 4: Enabling "least amount of time including
transfer from bus to van"

-->
<div class="cardTitle">Next Blue Bus</div>
<b>I'm at: </b>
<table>
	<td>
		<tr>
			<select id="selectOrigin">
				<option val="Haverford">Haverford</option>
				<option val="BrynMawr">Bryn Mawr</option>
				<option val="Swarthmore">Swarthmore</option>
			</select>
		</tr>

<b>I want to go to: </b>

		<tr>
			<select id="selectDestination">
				<option val="BrynMawr">Bryn Mawr</option>
				<option val="Haverford">Haverford</option>
				<option val="Swarthmore">Swarthmore</option>
			</select>
		</tr>
	</td>
	<td>
		<button type="button">Go!</button>
	</td>
</table>

<div id="blue_bus_results_container"></div>

<script>
$("#selectOrigin, #selectDestination").change(function(){
	var locA = $("#selectOrigin").val();
	// Don't let locA==locZ since there will never exist times. 
	disableSelectedInput(locA, "#selectDestination");

	var locZ = $("#selectDestination").val();
	var resultsContainer = $("#blue_bus_results_container"); 
	resultsContainer.html("Loading...");
});


</script>
