<!--
Blue Bus Card
Currently maintained by Kevin

Goals: 
Milestone 1: Be able to scrape data from 

-->
<div class="cardTitle">Next Blue Bus</div>
<b>I'm at: </b>
<table>
	<td>
		<tr>
			<select id="selectOrigin">
				<option val="Haverford">Haverford</option>
				<option val="BrynMawr">Bryn Mawr</option>
				<option val="Swarthmore">Swarthmore</option>
			</select>
		</tr>

<b>I want to go to: </b>

		<tr>
			<select id="selectDestination">
				<option val="BrynMawr">Bryn Mawr</option>
				<option val="Haverford">Haverford</option>
				<option val="Swarthmore">Swarthmore</option>
			</select>
		</tr>
	</td>
	<td>
		<button type="button">Go!</button>
	</td>
</table>
