<div class="cardTitle">Links</div>
<a target="_blank" class="fillLineText" href="http://bionic.haverford.edu">Bionic</a>
<a target="_blank" class="fillLineText" href="http://www.trico.haverford.edu/cgi-bin/courseguide/cgi-bin/search.cgi">Course Guide</a>
<a target="_blank" class="fillLineText" href="http://www.haverford.edu/activities/the_office/event_reservation_form.php">Event Registration</a>
<a target="_blank" class="fillLineText" href="http://www.haverford.edu/activities/the_office/meeting_rehearsal_planning_form.php">Meeting Reservation</a>
<a target="_blank" class="fillLineText" href="http://go.haverford.edu/tickets/">HaverTicket</a>
<a target="_blank" class="fillLineText" href="http://iits.haverford.edu">IITS</a>
<a target="_blank" class="fillLineText" href="http://mail.haverford.edu">Mail</a>
<a target="_blank" class="fillLineText" href="http://moodle.haverford.edu">Moodle</a>
<a target="_blank" class="fillLineText" href="http://www.haverford.edu/registrar/">Registrar</a>
<a target="_blank" class="fillLineText" href="http://www.haverford.edu/writing-center/">Writing Center</a>
