<div class='cardTitle'>SEPTA</div>

<select id="septaLocationA">
 {% for entry in settings.SEPTA_LOCATIONS %}
   <option val="{{entry.url}}">{{entry.location}}</option>
 {% endfor %}
</select>
<div class='fillLineText'>to</div>
<select id="septaLocationZ">
 {% for entry in settings.SEPTA_LOCATIONS %}
   <option val="{{entry.url}}">{{entry.location}}</option>
 {% endfor %}
</select>
<div id="septaSubmitButton" class="submitButton noSelect">Search</div>

<div id="septaResultsContainer"></div>


<script>

$("#septaSubmitButton").click( function() {
  var linkBase = "http://app.septa.org/nta/result.php?";
  var locAPrefix = "loc_a=";
  var locA = $("#septaLocationA").val();
  var locZPrefix = "&loc_z=";
  var locZ = $("#septaLocationZ").val();
  var link = linkBase + locAPrefix + locA + locZPrefix + locZ;

  //TODO: Change to whateverOrigin so we don't surpass free quota.
  //var wholeLink = 'http://whateverorigin.org/get?url=' +
  console.log(link);
  var wholeLink = 'http://anyorigin.com/dev/get?url=' +
          encodeURIComponent(link) + '&callback=?'

  $.getJSON(wholeLink, function(data){
    var response = $(data.contents)
    var results = $(response).find("#train_table").find("tr");

    $(results).each( function (i) {
      var departTime = $(this).find("td").html();
      alert(departTime);
      //TODO: Not complete! Needs to extract info from response.
    });

  });



});


</script>

