<div class='cardTitle'>Next SEPTA</div>

<select id="septaLocationA">
 {% for station in settings.SEPTA_LOCATIONS.keys %}
   <option val="{{station}}">{{station}}</option>
 {% endfor %}
</select>

<div class='fillLineText'>to</div>

<select id="septaLocationZ">
 {% for station in settings.SEPTA_LOCATIONS.keys %}
   <option val="{{station}}">{{station}}</option>
 {% endfor %}
</select>

<div id="septaSubmitButton" class="submitButton noSelect">Search</div>

<div id="septaResultsContainer"></div>


<script>

$("#septaSubmitButton").click( function() {
  var locA = $("#septaLocationA").val();
  var locZ = $("#septaLocationZ").val();
  var resultsContainer = $("#septaResultsContainer");

  var data = {"locA":locA, "locZ":locZ}
  $.post("/get_SEPTA_times/", data, function(response){
    //Empty the current results container.
    resultsContainer.empty();

    //Grab the results from the container.
    var results = $(response).find("#train_table").find("tr");
    $(results).slice(1).each( function (i) {
      var departTime = $(this).find("td").eq(2).html();
      var arriveTime = $(this).find("td").eq(3).html();
      var lateTime = $(this).find("td").eq(5).html();
      lateTime = lateTime.replace("mins","").replace("On time","");
      if (lateTime!=="") lateTime = "(+"+lateTime+")";

      var timeHTML;
      if (departTime===undefined || arriveTime===undefined){
        timeHTML = "No times available!"
      } else {
        timeHTML = "<div class='SEPTATime'>" + departTime +
                   "<span class='SEPTALateTime'> "+
                   lateTime + "</span>" +
                   " &#8594; " + arriveTime + "</div>";
      }
      resultsContainer.append(timeHTML);
    });

  });

});

function disableSelectedInput(value, menu) {
  //Disable the input that matches the 'value'
  $(menu).children().removeAttr("disabled");
  $(menu).children().filter( function() {
                        return $(this).html()===value;
                      }).attr("disabled", true);

  //Select the first input that does not have the 'value'.
  var unselected = $(menu).children("option[val!='"+value+"']")
  $(menu).val( unselected.first().html() );
}

$("#septaLocationA").change(function() {
  disableSelectedInput( $(this).val(), "#septaLocationZ" );
});

disableSelectedInput( $("#septaLocationA").val(), "#septaLocationZ" );


</script>

