<div class='cardTitle'>SEPTA</div>

<select id="septaLocationA">
 {% for station in settings.SEPTA_LOCATIONS.keys %}
   <option val="{{station}}">{{station}}</option>
 {% endfor %}
</select>

<div class='fillLineText'>to</div>

<select id="septaLocationZ">
 {% for station in settings.SEPTA_LOCATIONS.keys %}
   <option val="{{station}}">{{station}}</option>
 {% endfor %}
</select>

<div id="septaSubmitButton" class="submitButton noSelect">Search</div>

<div id="septaResultsContainer"></div>


<script>

$("#septaSubmitButton").click( function() {
  var locA = $("#septaLocationA").val();
  var locZ = $("#septaLocationZ").val();
  var resultsContainer = $("#septaResultsContainer");

  var data = {"locA":locA, "locZ":locZ}
  $.post("/get_SEPTA_times/", data, function(response){
    //Empty the current results container.
    resultsContainer.empty();

    //Grab the results from the container.
    var results = $(response).find("#train_table").find("tr");
    $(results).slice(1).each( function (i) {
      var departTime = $(this).find("td").eq(2).html();
      var arriveTime = $(this).find("td").eq(3).html();
      var timeHTML;
      if (departTime===undefined || arriveTime===undefined){
        timeHTML = "No times available!"
      } else {
        timeHTML = "<div>" + departTime + " --> " + arriveTime + "</div>";
      }
      resultsContainer.append(timeHTML);
    });

  });

});


</script>

