<div class='cardTitle'><a href="http://radiofords.com">
  WHRC
</a></div>

<script>
muteOnLoad = true;
</script>

<!-- Load the music scripts from Radiofords.com -->
<script src="http://radiofords.com/jquery.jplayer.js"></script>
<script src="http://radiofords.com/jquery.showinfo.js"></script>
<script src="http://radiofords.com/player.js"></script>

<div id="playerContainer" >
 <div id="player"> </div>
 <div id="playerController" class="airtimeWidget">
  <div id="pauseButton" class="playerButton playPauseButton"
       title="Play/Pause"></div>
  <div id="muteButton" class="playerButton" title="(Un)Mute">Mute</div>
 </div>
</div>

<div id="headerLiveTrackHolder" class="airtimeWidget"></div>
<div id="onAirToday" class="airtimeWidget"></div>

