/* Temporary */
#legacyGoLink {
 position:fixed;
 bottom:0px;
 left:0px;
 padding:5px 10px;
 color:maroon;
 background-color:rgba(200,0,0,0.3);
 font-size:0.7em;
 font-style:oblique;
}
@media (max-width:600px) {
 #legacyGoLink{
  display:none;
 }
}
.betaTag {
 color:orange;
 vertical-align:super;
 font-size:0.7em;
}
.underConstruction {
 top:0px;
 left:0px;
 background-color:orange;
 position:absolute;
 display:inline-block;
 padding: 2px;
 opacity:0.5;
 font-size:0.6em;
}




body {
 margin:0 0 40 0;
 padding:0px;
}

.noSelect {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 cursor:default;
}

.banner {
 padding:20px 0px 30px 20px;
 letter-spacing:2px;
 font-size:24px;
 height:90px;
 box-sizing:border-box;
}

a #bannerLogo, a #bannerLogo:hover {
 display:inline-block;
}

.bannerMotto, .bannerMotto a {
 font-size:12px;
 letter-spacing:1.5px;
}


#messageContainer {
 width:70%;
 position:relative;
 float:left;
}

.messageBox {
 position:relative;
 height:60%;
 width:100%;
 box-sizing:border-box;
 overflow-x:hidden;
 overflow-y:scroll;
}

.message {
 margin:20px 2.5em 10px 0.5em;
 padding:13px 0px 20px 15px;
 position:relative;
}

.messageReplyButton {
 position:absolute;
 bottom:-0.3em;
 right:0.2em;;
 opacity:0.3;
 padding:5px;
 cursor:pointer;
 max-width:1em;
}
.messageReplyButton:hover{
 opacity:0.8;
}
.messageReplyButton img {
 max-width:100%;
}

.noTagsMessage {
 padding:12px 0px 10px 15px;
}

.messageTextHighlight {
 padding:2px 5px;
 border-radius:2px;
}

.privateMessage .messageText {
 margin-right:45px;
}

.myMessage{
 margin:25px 0.5em 10px 2.5em;
}

.messageContainerAlert {
 margin: 10px 0px 10px 0px;
 padding:10px 0px 10px 0px;
 text-align:center;
 font-size:0.8em;
}

#recentUpdatesContainer {
 width:30%;
 position:relative;
 float:right;
}

.miniHeader {
 width:100%;
 padding:20 0 20 0;
 text-align:center;
 font-size:18px;
}

.inputContainer {
 position:relative;
 height:50px;
 text-align:center;
 border-bottom:1px;
}

input, textarea, select {
 padding:0 15 0 15;
 border:0px;
 box-sizing:border-box;
}

textarea {
 padding-top:4px;
 width:100%;
 resize:none;
}

input, select {
 width:70%;
 height:100%;
 float:left;
 font-size:18px;
}


.submitButton {
 float:left;
 width:20%;
 padding:15px 20px 15px 20px;
 cursor:pointer;
 box-sizing:border-box;
 text-align:center;
}

.messageDeleteButton, .clearTagsButton {
 position:absolute;
 padding:4px;
}
.clearTagsButton {
 left:0px;
 top:-0.4em;
}
.messageDeleteButton {
 right:0px;
 top:-5px;
}

.messageDeleteButton:hover, .clearTagsButton:hover {
 cursor:pointer;
}


.customCheckbox {
 position:relative;
 float:left;
 width:10%;
 height:100%;
 cursor:pointer;
 box-sizing:border-box;
}

.customCheckbox.active:before{
 position:relative;
 content:"\2713";
 top:10px;
 width:100%;
 text-align:center;
 display:inline-block;
 font-size:1.5em;
}


.updateContainerOption {
 font-size:0.9em;
 cursor:pointer;
}

.updateContainerOption:hover {
 opacity:1;
}

.activeUpdateContainerChoice {
 font-size:1.1em;
 font-weight:bold;
}

.updateTag {
 padding: 5px 10px 5px 10px;
 text-align:center;
 margin:5px;
 font-size:14px;
}


.tagLink {
 cursor:pointer;
}

.userShadow {
 position:absolute;
 top:-1.2em;
 left:-0.1em;
 font-size:0.8em;
}

.tagShadow {
 position:absolute;
 bottom:0px;
 right:2.25em;
 font-size:0.8em;
}

.timeShadow {
 position:absolute;
 top:2px;
 right:1.5em;
 font-size:0.65em;
}

.tag {
 margin:0px 5px;
 z-index:10;
}

.inlineTag, .inlineMention {
 cursor:pointer;
}

#otherActiveUserCount {
 text-align:center;
 font-size:0.9em;
 padding:10px 0px 0px 0px;
}

#menuButtonContainer {
 overflow:visible;
 position:absolute;
 right:0em;
 top:0em;
 z-index:1;
}

.menuButton, .menuButton:visited {
 position:relative;
 padding:0.55em;
 margin:0px;
 width:30px;
 font-weight:bold;
 display:inline-block;
}

.menuButton:hover {
 cursor:pointer;
}

.menuButton img {
 width:100%;
 display:inline-block;
}


.menu {
 display:none;
 position:absolute;
 z-index:10;
 top:0px;
 right:20px;

 text-align:center;

 padding:10px 0px;
}

#optionMenu {
 right:50px;
 position:fixed;
}

.activateTagMenu {
 position:relative;
 overflow:show;
}

.tagMenu {
 position:absolute;
 display:block;
 left:-1em;
 top:1.5em;
 width:100px;
 padding:0px;
}

.menuOption,
.menuOption a {
 padding:4px 20px;
 cursor:pointer;
 font-size:inherit;
}

.cardMenu .menuOption {
 font-size:1.2em;
}

#copyrightContainer {
 position:fixed;
 right:15px;
 bottom:5px;
 padding:5px 10px;
}

.genericCenteredContainer {
 text-align:center;
 margin:0 auto;
}

/* # # # # # User Settings Form # # # # # #  */
.fullScreenForm {
 padding:10px 30px 0px 30px;
}

.formFieldContainer {
 height:40px;
 line-height:35px;
}

.formDescriptor{
 padding:5px 0px;
 margin: 20px 0px 0px 0px;
 width:100%;
}

.fullScreenForm label {
 height:100%;
 width:30%;
 display:block;
 float:left;
 vertical-align:middle;
 line-height:inherit;
}

.fullScreenForm input, .fullScreenForm select, .fullScreenForm textarea {
 float:left;
 width:70%;
 height:100%;
 border:0px;
 display:inline-block;
}

.fullScreenForm input[type=checkbox]{
 width:5%;
 margin:0px 0px 0px 20px;
}

.button {
 padding:10px 0px 15px 0px;
 cursor:pointer;
}

.center {
 text-align:center;
}

.linkButton {
 padding:10px;
}

.formFieldGroup {
 margin:0 auto;
}


#userGreeting {
 position:absolute;
 top:65px;
 right:10px;
 text-align:right;
 font-size:0.5em;
}

/* # # # # # jQuery # # # # # #  */
.ui-menu {
 position:fixed;
 display:block;
 margin:0px;
 padding:0px;
 border-radius:0px;
 outline:none;
 border:none;
 list-style-type:none;
 z-index:101;
}

option, .ui-menu-item a {
 outline:none;
 border:none;

 display:block;
 padding:1em 2em;
 cursor:pointer;
}

.ui-widget-content .ui-state-focus {
 outline:none;
 border:none;
}

.tooltip {
 display:block;
 position:fixed;
 padding:20px;
 font-size:1.1em;
 z-index:100;
}

.ui-helper-hidden-accessible {
 display:none;
}

/* # # # # #  Cards  # # # # # */
#cardContainer {
 text-align:center;
 margin:0 auto;
}

.card {
 position:relative;
 width:30%;
 margin:1em 10px 0em;
 height:300px;
 display:inline-block;
 box-sizing:border-box;
}

.cardControlBar {
 position:relative;
 width:100%;
 position:absolute;
 top:0px;
 z-index:1;
}

.cardContents {
 position:relative;
 height:95%;
 overflow:hidden;
}

.cardSettingsButton {
 position:absolute;
 padding:0px 5px;
 right:0px;
 height:100%;
 cursor:pointer;
}

.cardTitle {
 font-size:1.2em;
 box-sizing:border-box;
 padding:8px 5px;
}

#newCardContainer {
 padding:10px 0px 10px 10%;
}

.card select, .card input {
 height:2em;
 width:100%;
 text-align:center;
}
.card input {
 height:1.5em;
}

.card .submitButton {
 width:100%;
}

.fillLineText {
 padding:2px 0px;
 width:100%;
 display:block;
}

/* Datepicker */
.ui-datepicker {
 background-color:white;
 word-spacing:1em;
 text-align:center;
 display:none;

 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.ui-datepicker-calendar {
 text-align:center;
 font-size:1.0em;
}
.ui-datepicker-calendar td {
 padding:6px;
}
.ui-datepicker-calendar td:hover {
 cursor:pointer;
}
.ui-icon {
 cursor:pointer;
 margin:0px 25px;
}
.dateButton {
 position:absolute;
 cursor:pointer;
 padding:3px;
}
.prevDateButton {
 left:20px;
}
.nextDateButton {
 right:20px;
}

.emptyMessage {
 padding:15px 0px;
 width:100%;
}

.deleteX {
 position:absolute;
 padding:5px;
}
.deleteX:hover {
 cursor:pointer;
}

/* # # # #   Tag Management-specific CSS   # # # # */
.tagManageBlock {
 position:relative;
 padding:10px 35px;
 width:300px;
 margin:10px auto;
}
.unfollowTagButton {
 right:10px;
 top:0px;
}

.tagText {
 font-size:1.1em;
 font-weight:bold;
}

/* # # # #   Event-specific CSS   # # # # */
.eventManageBlock {
 position:relative;
 max-width:600px;
 margin:25px auto;
}
.eventDeleteButton {
 position:absolute;
 top:0px;
 right:0px;
 color:red;
}
.eventEditButton {
 position:absolute;
 top:0px;
 right:20px;
}

.eventSpecificsBlock {
 padding:5px 15px;
}
.eventDateBlock {
 text-align:center;
 padding:5px 0px;
}
.eventTime {
 font-size:0.8em;
}
.eventTags {
 font-size:0.9em;
 bottom:0px;
 text-align:center;
 word-spacing:1em;
 display:block;
}
.eventInfoSpacer {
 padding:0px 1em;
}
.eventInfoBlock {
 padding:10px;
}
.eventTitle {
 font-size:1.2em;
 padding:2px 40px 2px 10px;
}
.eventCategoryBlock {
 position:absolute;
 bottom:-0.5em;
 right:10px;
 font-size:0.7em;
 text-align:right;
}
.eventAuthorBlock {
 position:absolute;
 bottom:-0.5em;
 left:10px;
 font-size:0.7em;
 text-align:right;
}

/* # # # #   HaverAd-specific CSS   # # # # */
.adContainer {
 position:relative;
}

.adRefreshButton {
 position:absolute;
 top:0px;
 left:0px;
 width:1.75em;
 padding:0.25em;
}
.adRefreshButton:hover {
 cursor:pointer;
}
.adRefreshButton img {
 width:100%;
}

.adBanner {
 padding:10px 30px;
 min-height:5em;
 background-size:contain;
 text-align:center;
}

.adDate {
 box-sizing:border-box;
 position:absolute;
 left:1em;
 bottom:0px;
 padding:4px 1em;
 display:inline-block;
}

.adText {
 box-sizing:border-box;
 padding:1em 2.5em;
 display:inline-block;
}

.adAuthor {
 position:absolute;
 right:0em;
 top:0em;
 font-size:0.7em;
 padding:5px;
}

.adSubmitButton, .adSubmitButton:visited {
 position:absolute;
 right:1em;
 bottom:0em;
 font-size:0.8em;
 padding:4px 5px;
}
.adSubmitButton:hover {
 cursor:pointer;
}

.adManageBlock {
 position:relative;
 padding:0.5em 2em;
 margin:5px;
}

.adEditButton, .adDeleteButton {
 position:absolute;
 right:2em;
 top:1em;
}
.adDeleteButton {
 right:8em;
}

.unapproved {
 border-left:16px solid black;
}

/* # # # #   Card-specific CSS   # # # # */

/* WHRC_Radio */
.playerButton {
 cursor: pointer;
 position: relative;
 margin: 5px;
 display: inline-block;
 vertical-align: middle;
 opacity:0.9;
}
.playerButton:hover {
 opacity:1;
}

#playButton {
 width: 0px;
 height: 0px;
 border-left: 20px solid white;
 border-top: 10px solid transparent;
 border-bottom: 10px solid transparent;
 border-right: none;
}

#pauseButton {
 width: 5px;
 height: 20px;
 border-left: 4px solid white;
 border-right: 4px solid white;
}

#playerController {
 width:100%;
 padding:8px 0px;
 box-sizing:border-box;
}

#headerLiveTrackHolder {
 padding:2px 3px;
 box-sizing:border-box;
}
#headerLiveTrackHolder:empty:after {
 content: "Loading!";
}
.now-playing-bar {
 list-style-type:none;
 padding:0px 0px 0px 5px;
}
.now-playing-list {
 font-size:0.75em;
}
#time-elapsed {
 position:absolute;
 display:inline-block;
 top:0px;
 left:0px;
 padding:2px;
}

#onAirToday {
 box-sizing:border-box;
 padding:5px 0px;
 width:100%;
 overflow:auto;
 height:70px;
}
#onAirToday table {
 text-align:center;
}

#onAirToday .time {
 font-size:0.8em;
 width:70px;
 text-align:left;
 padding-left:4px;
}

#time-remaining, #onAirToday h3 {
 display:none;
}

/* Haverstalk */
#HaverStalkResults {
 width:100%;
 height:200px;
 overflow-x:hidden;
 font-size: 0.8em;
}
#HaverStalkResults:empty:after{
 content:"No Results";
}
#HaverStalkResults h3 {
 padding:0px;
 margin:0px;
}
#HaverStalkResults li, ul {
 list-style-type:none;
 margin:0px;
 padding:0em 0em 0em 0.5em;
 text-align:left;
}
#HaverStalkResults .vcard-details {
 font-size:0.8em;
}
#HaverStalkResults .off-screen {
 display:none;
}


/* Imgur */
#imgurImageContainer {
 position:relative;
 padding:0.5em 0em;
}

#imgurCaption {
 padding:5px 15px;
 font-size:0.75em;
}

#imgurPoints, #imgurViews {
 font-size:0.70em;
 padding:0px 10px;
 margin:0px 5px;
}
#imgurPoints:after {
 content:" points";
}
#imgurViews:after {
 content:" views";
}

/* DC */
.grubMeal {
 padding:6px;
}

.grubItem {
 padding:1px;
}

/* Weather */
#link_get_widget {
 display:none;
}
.aw-current-weather-inner {
 z-index:0;
}
.aw-widget-current-inner .aw-widget-content.bg-su {
 border:none !important; /* Override the default border. */
}

/* SEPTA */
.SEPTATime, .blueBusTime {
 padding:3px 0px;
}

/* Haverford Clerk */
.articleContainer, #DCGrubResults {
 overflow-y: auto;
 max-height: 200px;
 width: 100%;
}

.clerkArticle, .bicoArticle, .calendarEvent {
 text-align:left;
 font-size:0.75em;
 padding:2px 10px;
}
.clerkArticleDate, .bicoArticleDate, .calendarTime {
 text-align:right;
 font-size:0.8em;
}

/* Go_Chat Card */
#chatCard #messageContainer{
 width:100%;
 font-size:0.8em;
}
#chatCard .submitButton{
 display:none;
}
#chatCard .tagAutocomplete {
 width:90%;
 height:inherit;
}
#chatCard .message {
 padding: 10 0 10 15;
 margin: 15 15 10 0;
 text-align:left;
}
#chatCard .inputContainer {
 height:30px;
}
#chatCard #newMessageInput {
 height:20%
}
#chatCard .otherActiveUserCount {
 display:none;
}
#chatCard .messageContainerAlert {
 font-size:1em;
}
#chatCard .customCheckbox {
  line-height: 100%;
}


#headerNotice {
 position:absolute;
 text-align:center;
 width:100%;
 top:0px;
 left:0px;
 z-index:0;
}

#headerTab {
 display:inline-block;
 font-size:0.6em;
 padding:5px 1em;
 border-radius:0px 0px 10px 10px;
}


@media (max-width:600px) {

 #headerTab {
  font-size:0.45em;
  padding:0px 1em;
 }
 #headerNotice {
  text-align:left;
 }


 #otherActiveUserCount {
  display:none;
 }

 #copyrightContainer{
  padding:0px;
  right:2px;
  bottom:2px;
  font-size:0.6em;
 }

 #recentUpdatesContainer {
  display:none;
 }

 #messageContainer {
  width:100%;
 }

 .card {
  width:100%;
  height: initial;
  margin:0px 0px;
  border-bottom:1em solid black;
 }
 .card:last-child {
  border-bottom:0px;
 }
 .cardContents {
  height:initial;
 }
 .banner {
  padding:0.5em 0 0 10;
  height:55px;
 }
 .bannerMotto, #userGreeting {
  display:none;
 }

 .adText {
  box-sizing:border-box;
  padding:1em 1em;
 }

 .inputContainer {
  height:40px;
 }
 .submitButton {
  padding:15px 15px;
  border-bottom:1px;
 }

}

