body {
margin:0px;
padding:0px;
background-color:#C7C7C7;
}


.ui-autocomplete {
max-height: 100px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
 }
 /* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
 * html .ui-autocomplete {
height: 100px;
 }

#navbar{
    margin-bottom:30px;
}

 .goBoardBox
 {
border-color: blue;
margin: 10px;
height: 30%;
width: 100%;
}

.fullBox
{
width:90%;
margin:auto;
}

#generalMessageBox
{
height: 550px;
width: 60%;
float:left;
border-color: black;
border-style: solid;
border-width: 3px;
background-color:#594F4F;
padding:10px 20px 10px 10px;
border-radius:15px;
}
.messageBox
{
margin:5px;
background-color: white;
height:60%;
width:100%;
border-radius:5px;
overflow-y:auto;
}
.recentTags
{
float: left;
margin: 5px;
margin-left:40px;
height: 550px;
width: 30%;
border-color: black;
border-style: solid;
border-width: 3px;
background-color:#594F4F;
padding:10px;
border-radius:15px;
}

#tagSearchBox{
width:30%;
}

label, .fullBox{
text-align:right;
}

.tagBox
{
margin:5px;
background-color:white;
height:80%;
width: 20%
overflow-y:auto;
}

.shoutEven
{
padding-left:5px;
border-color:black;
border-style:solid;
background-color: #FF0200;
color:white;
text-align:center;
font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}
.shoutOdd
{
padding-left:5px;
border-color:black;
border-style:solid;
background-color:#E4E1E8;
text-align:center;
font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

.message
{
background-color:lightgrey;
padding:5px;
border-bottom:1px solid black;
}

form#messageform{
    margin-right:5px;
}

textarea {
width:100%;
padding-right:5px;
}

.banner
{
font-size:50px;
color:white;
background-color:maroon;
padding:30px;
text-align:center;
}

input#tags{
    width:77%;
    margin-right:0px;
    margin-left:0px;
    padding:2px 0px;
    border:0px;
    margin-left:0px;
}

.submitButton{
border:2px groove #505050;
margin-left:0px;
margin-right:0px;
padding-left:0px;
padding-right:0px;
text-align:center;
width:20%;
cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
/*give the background a gradient - see cssdemos.tupence.co.uk/gradients.htm for more info*/
background-color:maroon; /*required for browsers that don't support gradients*/
background: -webkit-linear-gradient(top, maroon, #1A1A1A);
/*style to the text inside the button*/
font-family:Arial;
color:#fff;
font-variant:small-caps;
border-radius: 0 15px 15px 0;
/*add a drop shadow to the button*/
-webkit-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
-moz-box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
box-shadow: rgba(0, 0, 0, .75) 0 2px 6px;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
input#submitbutton:hover, input#submitbutton:focus {
color:#edebda;
/*reduce the spread of the shadow to give a pushed effect*/
-webkit-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
-moz-box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
box-shadow: rgba(0, 0, 0, .25) 0 1px 0px;
}


.kwicks {
 position:relative;
 height: 60px;
 margin:0px;
 padding:0px;
 margin-bottom:10px;
 }
 .kwicks > a {
 position:relative;
 display:inline-block;
 white-space:nowrap;
 color:white;
 padding-top:20px;
 padding-bottom:20px;
 text-align:center;
 /* overridden by kwicks but good for when JavaScript is disabled */
 width:20%;
 margin:0px;
 float: center;
 border-right:1px solid #134D00;
 background-color:#3863A3;
 font-family: arial;
 font-variant: small-caps;
 font-size:larger;
 } 

.kwicks > a:hover { 
background-color:#1E4B8D;
}

.kwicks > a:last-child { 
