@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
 margin:0 0 40 0;
 padding:0px;
 min-width:600px;

 font-family:"Lato";
 font-size:16px;
}

a, a:visited {
 text-decoration:none;
 color:#00441b;
 letter-spacing:0px;
}
a:hover {
 color:#00752F;
}

.noSelect {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 cursor:default;
}

.banner {
 padding:20 0 30 20;
 letter-spacing:2px;
 font-size:24px;
 height:5%;

 color:white;
 background-color:#225ea8;
}

a #bannerLogo, a #bannerLogo:hover {
 display:inline-block;
 color:white;
 font-weight:normal;
}

.bannerMotto, .bannerMotto a {
 font-size:12px;
 letter-spacing:1.5px;
 opacity:0.9;
 color:white;
}


#messageContainer {
 width:70%;
 position:relative;
 float:left;
}

.messageBox {
 position:relative;
 height:60%;
 width:100%;
 box-sizing:border-box;
 padding-left:40px;
 overflow-x:hidden;
 overflow-y:scroll;
}

.message {
 margin:25 15 10 0;
 padding:10 0 20 15;
 background-color:#e0f3db;
 position:relative;
}

.privateMessage {
 background-color:#fc9272;
 background-image:url("/static/images/talk_bubble.png");
 background-size:20px 20px;
 background-repeat:no-repeat;
 background-position:right 15px center;
}

.privateMessage .messageText {
 margin-right:45px;
}

.messageContainerAlert {
 margin: 10 15 10 0;
 padding:10 0 10 0;
 text-align:center;
 font-size:0.8em;
 background-color:#fcbba1;
 border-bottom:1px solid #fc9272;
 opacity:0.7;
}

#recentUpdatesContainer {
 width:30%;
 position:relative;
 float:right;
}

.miniHeader {
 width:100%;
 padding:20 0 20 0;
 text-align:center;

 font-size:18px;
 background-color:#7fcdbb;
 color:white;
}

.inputContainer {
 position:relative;
 height:50px;
 text-align:center;
 border-bottom:1px;
}

input, textarea, select {
 padding:0 15 0 15;
 border:0px;
 outline:none;

 color:black;
 box-sizing:border-box;
}

textarea {
 padding-top:4px;
 width:100%;
 resize:none;
 border-bottom:1px solid #eee;
}

input, select {
 width:70%;
 height:100%;
 float:left;
 font-size:18px;
}

input:focus, select:focus, textarea:focus,
.fullScreenForm input:focus, .fullSCreenForm select:focus {
 background-color:#FFFCE5;
}


.submitButton {
 float:left;
 width:20%;
 padding:15 20 15 20;
 cursor:pointer;
 border-left:1px solid #FFF4A3;
 border-bottom:1px solid #FFF4A3;
 background-color:#fff7bc;
 box-sizing:border-box;
 text-align:center;
}
.submitButton:hover {
 background-color:#fff8cd;
 border-color:#fff7bc;
}

.clearTagsButton {
 position:absolute;
 left:0px;
 top:-0.4em;
 padding:2px 5px;
 color:red;
 opacity:0.4;
}

.clearTagsButton:after {
 content:"x";
}

.clearTagsButton:hover {
 opacity:0.7;
 cursor:pointer;
}

.customCheckbox {
 position:relative;
 float:left;
 width:10%;
 height:100%;
 background-color:#B3BAFF;
 cursor:pointer;
 box-sizing:border-box;
}
.customCheckbox.active{
 background-color:#FFB78A;
}
.customCheckbox.active:before{
 position:relative;
 content:"\2713";
 top:10px;
 width:100%;
 text-align:center;
 display:inline-block;
 font-size:1.5em;
}


.updateContainerOption {
 font-size:0.9em;
 opacity:0.5;
 cursor:pointer;
}

.updateContainerOption:hover {
 opacity:1;
}

.activeUpdateContainerChoice {
 opacity: 0.9;
 font-size:1.1em;
 font-weight:bold;
}

.updateTag {
 padding: 5 10 5 10;
 text-align:center;
 margin:5 5 5 5;
 font-size:14px;
 background-color:#edf8b1;
}

.tagLink:hover{
 opacity:1;
}

.tagLink {
 cursor:pointer;
 opacity:0.8;
}

.userShadow {
 position:absolute;
 top:-15px;
 left:-15px;
 opacity:0.8;
 font-style:oblique;
}

.tagShadow {
 position:absolute;
 bottom:-10px;
 right:-8px;
 opacity:0.8;
}

.tag {
 margin:0 5 0 5;
 z-index:10;
}

.inlineTag, .inlineMention {
 opacity:0.8;
 cursor:pointer;
}
.inlineTag:hover, .inlineMention:hover {
 opacity:1;
}
.inlineTag {
 color:maroon;
}
.inlineMention {
 color:navy;
}

#otherActiveUserCount {
 text-align:center;
 font-size:0.9em;
 padding:10 0 0 0;
 opacity:0.5;
}

#optionMenuButton, #goCardLink {
 position:absolute;
 top:0em;
 right:0em;
 padding:10 10 12 12;
 opacity:0.8;
}

#goCardLink {
 color:inherit;
 right:2em;
 font-weight:bold;
}

#optionMenuButton:hover, #goCardLink:hover {
 opacity:1;
 cursor:pointer;
}


.menu {
 display:none;
 position:absolute;
 z-index:10;
 top:0px;
 right:20px;

 text-align:center;
 background-color:black;

 padding:10 0 10 0;
 opacity:0.95;
}

#optionMenu {
 right:50px;
}

.activateTagMenu {
 position:relative;
 overflow:show;
}

.tagMenu {
 position:absolute;
 display:block;
 left:-1em;
 top:1.5em;
 width:100px;

 padding:0px;
 color:white;
}

.menuOption,
.menuOption a {
 padding:4 20 4 20;
 cursor:pointer;
 background-color:inherit;
 color:inherit;
 font-size:inherit;
 font-weight:inherit;
}
.menuOption:hover {
 background-color:silver;
}

.cardMenu .menuOption {
 font-size:1.2em;
 color:white;
}

#copyrightContainer {
 position:fixed;
 right:15px;
 bottom:5px;
 padding:5px 10px;
 opacity:0.5;
 word-spacing:5px;
 background-color:rgba(250,250,250,0.8);
}

.genericCenteredContainer {
 text-align:center;
 margin:0 auto;
}

/* # # # # # User Settings Form # # # # # #  */
.fullScreenForm {
 padding:10 30 0 30;
}

.formFieldContainer {
 height:40px;
 line-height:35px;
}

.formDescriptor{
 background-color:#FFE5E8;
 padding:5 0 5 0;
 margin: 20 0 0 0;
 width:100%;
}

.fullScreenForm label {
 background-color:#e0f3db;
 height:100%;
 width:30%;
 display:block;
 float:left;
 vertical-align:middle;
 line-height:inherit;
}

.fullScreenForm input, .fullScreenForm select {
 float:left;
 width:70%;
 height:100%;
 background-color:#fff8cd;
 border:0px;
 border-bottom:1px solid #fff6ab;
}

.fullScreenForm input[type=checkbox]{
 width:5%;
 margin:0 0 0 20;
}

.button {
 background-color:#edf8b1;
 padding:10 0 15 0;
 cursor:pointer;
 font-weight:bold;
}

.button:hover {
 background-color:#F2FAC7;
}

.formFieldGroup {
 margin:0 auto;
}


.badInput, input.badInput {
 background-color:#fcbba1;
 border-bottom:1px solid #fc9272;
}

.goodInput {
 background-color:#e5f5e0;
 border-bottom:1px solid #c7e9c0;
}

#userGreeting {
 position:absolute;
 top:65px;
 right:10px;
 text-align:right;
 font-size:0.5em;
}

/* # # # # # jQuery # # # # # #  */
.ui-menu {
 position:fixed;
 display:block;
 margin:0px;
 padding:0px;
 border-radius:0px;
 outline:none;
 border:none;
 list-style-type:none;
}

option, .ui-menu-item a {
 background:#edf8b1;
 outline:none;
 border:none;
 font-weight:normal;
 border-radius:0px;

 text-decoration:none;
 display:block;
 padding:1em 2em;
 border-bottom:1px solid #F3FAC7;
 font-weight:bold;
 cursor:pointer;
}

.ui-widget-content .ui-state-focus {
 background:#7fcdbb;
 outline:none;
 border:none;
 border-bottom:1px solid transparent;
}

.tooltip {
 display:block;
 position:fixed;
 padding:20px;
 font-size:1.1em;

 border:4px solid #fc9272;
 border-width:0px 4px;
 border-radius:3px;
 background-color:#fee0d2;
}

.ui-helper-hidden-accessible {
 display:none;
}

/* # # # # #  Cards  # # # # # */
#cardContainer {
 text-align:center;
 margin:0 auto;
}

.card {
 position:relative;
 width:30%;
 margin:10px 4px;
 height:300px;
 display:inline-block;
 box-sizing:border-box;
}

.cardControlBar {
 position:relative;
 width:100%;
 height:5%;
 background-color:#B3BAFF;
}

.cardContents {
 position:relative;
 height:95%;
 overflow:hidden;
}

.cardSettingsButton {
 position:absolute;
 right:0px;
 line-height:10px;
 height:100%;
 cursor:pointer;
}
.cardSettingsButton:after {
 content:"\268C";
}
.cardSettingsButton:hover {
 background-color:rgba(0,0,0,0.1);
}

.cardTitle {
 font-size:1.2em;
 box-sizing:border-box;
 padding:8px 5px;
 font-weight:bold;
 background-color:#efe;
}

#newCardContainer {
 padding:10px 0px 10px 10%;
 background-color:#7fcdbb;
 margin-top:40px;
}

.card select {
 height:2em;
 width:100%;
}

.card .submitButton {
 width:100%;
}

.fillLineText {
 padding:2px 0px;
 width:100%;
 display:block;
 font-weight:bold;
 background-color:#fee;
}

/* # # # #   Card-specific CSS   # # # # # */

/* WHRC_Radio */
.playerButton {
 cursor: pointer;
 position: relative;
 margin: 5px;
 display: inline-block;
 vertical-align: middle;
 opacity:0.9;
}
.playerButton:hover {
 opacity:1;
}

#playButton {
 width: 0px;
 height: 0px;
 border-left: 20px solid white;
 border-top: 10px solid transparent;
 border-bottom: 10px solid transparent;
 border-right: none;
}

#pauseButton {
 width: 5px;
 height: 20px;
 border-left: 4px solid white;
 border-right: 4px solid white;
}

#playerController {
 width:100%;
 height:16%;
 padding:8px 0px;
 box-sizing:border-box;

 color:white;
 background-color:#fc9272;
}

#headerLiveTrackHolder {
 font-size:0.75em;
 box-sizing:border-box;
 padding:10px 0px;
 background-color:#7fcdbb;
}
#headerLiveTrackHolder:empty:after {
 content: "Loading!";
 color:white;
}
.now-playing-bar {
 list-style-type:none;
 padding:0px;
}
.now-playing-list {
 font-size:0.75em;
}
#status-current-show{
 color:white;
 font-weight:bold;
}
#time-elapsed {
 display:block;
 position:absolute;
 top:0px;
 width:100%;
 text-align:right;
 opacity:0.5;
}

#onAirToday {
 box-sizing:border-box;
 padding:10px 0px;
 height:35%;
 width:100%;
 background-color:#B3BAFF;
}
#onAirToday table {
 text-align:center;
}
#onAirToday:before {
 font-weight:bold;
 content:"Schedule";
}

#time-remaining, #onAirToday h3 {
 display:none;
}

/* Imgur */
#imgurImage {
 border-radius:2px;
}
#imgurImageContainer {
 position:relative;
 padding:0.5em 0em;
 background-color:#2b2b2b;
}

#imgurCaption {
 padding:5px 15px;
 font-size:0.75em;
 font-weight:bold;
 background-color:#edf8b1;
}

#imgurImageContainer .loadingWheel {
 color:white;
}

#imgurPoints, #imgurViews {
 font-size:0.70em;
 padding:0px 10px;
 margin:0px 5px;
 color:white;
}
#imgurPoints:after {
 content:" points";
}
#imgurViews:after {
 content:" views";
}

/* Weather */
#link_get_widget {
 display:none;
}
.aw-widget-current-inner .aw-widget-content.bg-su {
 border:none !important; /* Override the default border. */
}

/* SEPTA */
.SEPTATime {
 padding:3px 0px;
 background-color:#edf8b1;
 font-weight:bold;
}
.SEPTALateTime {
 color:red;
 opacity:0.8;
}

/* Haverford Clerk */
.clerkArticle {
 text-align:left;
 font-size:0.75em;
 background-color:#edf8b1;
 border-bottom:4px solid #fee;
 padding:2px 10px;
}
.clerkArticle a{
 color:black;
 opacity:0.8;
}
.clerkArticle a:hover{
 opacity:1;
}
.clerkArticleDate {
 text-align:right;
 font-size:0.8em;
 opacity:0.5;
}

/* Go_Chat Card */
#chatCard #messageContainer{
 width:100%;
 font-size:0.8em;
}
#chatCard .submitButton{
 display:none;
}
#chatCard .tagAutocomplete {
 width:90%;
}
#chatCard .message {
 padding: 10 0 10 15;
 margin: 15 15 10 0;
 text-align:left;
}
#chatCard .inputContainer {
 height:30px;
}
#chatCard #newMessageInput {
 height:20%
}
#chatCard .otherActiveUserCount {
 display:none;
}
#chatCard .messageContainerAlert {
 font-size:1em;
}
#chatCard .customCheckbox {
  line-height: 100%;
}
