{% include "genericPageStart.html" %}

  <div class="miniHeader">Manage HaverAds</div>

  <a href="/ads/form/"><div class="button center">Create A New Ad</div></a>

  {% for ad in ads %}
    <div class="adManageBlock">

    <div>Active: {%if ad.isActive%} Yes {%else%} No {%endif%}</div>
    <div>Views: {{ad.views}}</div>

    <a href="/ads/form/{{ad.id}}" class="adEditButton">
      {%if ad.isActive%} Edit {%else%} Duplicate {%endif%}
    </a>

    <a href="/ads/delete/{{ad.id}}" class="adDeleteButton">
      Delete
    </a>

      <div class="{%if not ad.isActive%}inactive{%endif%}">
      {% include "adBanner.html" %}
      </div>
    </div>
  {% endfor %}


{% include "genericPageEnd.html" %}


