{% include "genericPageStart.html" %}

<div class="bannerAdContainer"></div>

   <div id="cardContainer">
   <script src="{{STATIC_URL}}js/cards/general.js"></script>

   {% for card in cards %}
     <div class="card" name="{{card}}">
       <div class="cardControlBar">
        <div class="cardSettingsButton menuActivator"></div>
        {% include "cardMenu.html" %}
       </div>
       <div class="cardContents">
         {% with "cards/"|add:card|add:".html" as template %}
         {% include template %}
         {% endwith %}
       </div>
     </div>
   {% endfor %}

   </div>

   <div id="newCardContainer" class="inputContainer">
     <input name="newCardName" class="cardAutoComplete" />
     <div class='noSelect submitButton addCardButton'>Add</div>
   </div>

{% include "genericPageEnd.html" %}
