<div id="messageContainer">
  <div class="inputContainer">
    <div class="clearTagsButton noSelect" title="Clear tags."></div>
    <input type="text" id="tagFilterInput"
           class="tagAutoComplete" placeholder="#tags #search"/>
    <div class="noSelect customCheckbox" title="Search private messages?"
         name="private" id="tagFilterPrivate" autoReload="true"></div>
    <div class="noSelect submitButton" id="tagFilterSubmit">Search</div>
  </div>

  <div class="messageBox"></div>

  <div class="goBoardBox">
    <form id="messageForm">
      <textarea maxlength="300" id="newMessageInput" placeholder="What's on your mind?" cols="60" rows="5"></textarea>
      <div class="inputContainer">
      <div class="clearTagsButton noSelect" title="Clear tags."></div>
        <input class="tagAutocomplete" maxlength="300"
               cols="60" id="newTagsInput"
               placeholder="#tag #your #message @{{user.username}}">
        <div class="noSelect customCheckbox" title="Make this a private message?"
             name="private" id="newMessagePrivate"></div>
        <div class="noSelect submitButton" id="newMessageSubmit">Go!</div>
      </div>
      <div id="otherActiveUserCount">Loading...</div>
    </form>
  </div>
</div>
