<div id="general">
    <div id="tagSearchSubmit">Search
    <input type="text" id="tagSearchBox" placeholder="#tags"/>
	</div>
	<div class="messageBox" id="messagebox">
	</div>
	<div class="goBoardBox">
	    <form id="messageForm">
	    <textarea maxlength="300" id="message" placeholder="What's on your mind?" cols="60" rows="5"></textarea>
	    <div class="ui-widget">
		<label for="tags"></label>
		<input id="tags" maxlength="300" cols="60" placeholder="Put tags here!">
		<button type="submit" id="submit">Submit</button>	
	    </form>
	</div>
    </div>
</div>
