<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script src="{{STATIC_URL}}/js/jquery.linkify.min.js"></script>
<script src="{{STATIC_URL}}js/csrf_cookie.js"></script>

<script src="{{STATIC_URL}}js/setup.js"></script>
<script src="{{STATIC_URL}}js/helperFunctions.js"></script>
<script src="{{STATIC_URL}}js/buildHTML.js"></script>
<script src="{{STATIC_URL}}js/validation.js"></script>
<script src="{{STATIC_URL}}js/messageTransactionFunctions.js"></script>
<script src="{{STATIC_URL}}js/tagTransactionFunctions.js"></script>
<script src="{{STATIC_URL}}js/timers.js"></script>
<script src="{{STATIC_URL}}js/jqueryBindings.js"></script>
<script src="{{STATIC_URL}}js/notices.js"></script>
<script src="{{STATIC_URL}}js/main.js"></script>

<!-- Load the default/specified theme. -->
<link rel="stylesheet" type="text/css"
{% if user.is_authenticated %}
  href="{{STATIC_URL}}css/{{user.userinfo.theme}}.css"
  {% else %}
  href="{{STATIC_URL}}css/pastel.css"
  {% endif %}
/>

<!-- Include your theme in the string below if you want swatches. -->
{% if user.userinfo.theme in "" %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/swatches.css" />
<script src="{{STATIC_URL}}js/swatches.js"></script>
{% endif %}
