<div id="optionMenu" class="noSelect menu">
  {% if user.is_authenticated %}
    <div class="menuOption">
      <a href="/settings/">Settings</a>
    </div>
    <div class="menuOption">
      <a href="/following/">Following</a>
    </div>
    <div class="menuOption">
      <a href="/ads/manage/">My Ads</a>
    </div>
    <div class="menuOption">
      <a href="/accounts/logout/">Log Out</a>
    </div>
  {% else %}
    <div class="menuOption">
      <a href="/accounts/login/">Login</a>
    </div>
    <div class="menuOption">
      <a href="/accounts/create/">New User</a>
    </div>
  {% endif %}
</div>
